{% extends 'base.html.twig' %}

{% block title %}New Posts{% endblock %}

{% block body %}
    {{ parent() }}

<div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 bg-white rounded my-3 p-5">
        <center><h1>Create new Posts</h1></center>
    {{ include('crud/_form.html.twig') }}

    <a href="{{ path('app_crud_index') }}"><button class="btn btn-sm btn-info" type="submit">back to list</button></a>
</div>
</div>
{% endblock %}
